$font_ro: 'Roboto', sans-serif;
$font_lato: 'Lato', sans-serif;
@mixin link {
   font-family: 'Roboto', sans-serif;
   color: #777777;
   font-size: 1.2rem;
   font-weight: bold;
   
}

body{
   img{
      width: 100%;
      border: none;  
   }
}

.blog-gallery {
   background-color: #fafafa;

   &_blog-section-gallery_mt {
      margin-top: -50px;
      
   }

   &__container {
      max-width: 400px;
      margin: 0 auto;
      padding: 20px 10px;

      @media screen and (min-width: 900px){
         &{
            max-width: 1148px;
         }
      }

   }
}
.blog-galllery {

   &__shelf {
      @media screen and (min-width: 900px){
         &{
            display: grid;
            grid-template-columns: 32% 32% 32%;
            grid-column-gap: 20px;
         }
      }
     
   }
}
.blog-gallery-col1_margin_margin-top{
   margin-top: 50px;

}
.blog-gallery-col1 {
  
   &__box {
      margin-top: 30px;
      position: relative;
   }
}
.box {
   background-color: white;

   &__position-of-content {
      display: flex;
      flex-direction: column;
      align-items: start;
      padding-top: 20px;
      padding-bottom: 20px;
      margin-left: 25px;
      margin-right: 25px;

      
   }

   &__wrapper-img {
   }

   &__img {
      width: 100%;
   }

   &__wrapper-hover-img {
      
   }

   &__position-of-content_hide{
      background-color: rgba(0,0,0,0.8);
      margin-left: 0px;
      margin-right: 0px;
      padding-left: 25px;
      padding-right: 25px;
      top: 0;
      left: 0;
      position: absolute;
      display: none;

   }

   &:hover .box__position-of-content_hide{
      display: flex;
      // height: 100%;
   }
}


.position-of-content {

   &__wordpress {
      background-color: black;
      color: white;
      font-family: $font_ro;
      padding: 3px 15px;
   }

   &__header-boxes {
   }

   &__text{
      font-family: $font_ro;
      font-size: 14px;
      line-height: 25px;
      // letter-spacing: 5px;
      color: #777777;
   }
   &__text_color-text_white{
      color: white;
   }

   &__all-icons {
      width: 100%;
      display: flex;
      justify-content: space-between;
   }
}

.header-boxes_hover-h_color{
   color: white;
   
}
.header-boxes {

   &__title {
      font-family: $font_ro;
   }

   &__sub-name {
      color: #cfcfcf;
   }

   &__sub-name_color-h5_white{
      color: white;

   }
}

.fa-user {
   padding-right: 12px;
}

.all-icons_color-icons_white{
   color: white !important;
}

.all-icons {
   cursor: pointer;
   color: #cfcfcf;
   

   &__icon-wrapper {
      display: flex;
     
   }

   &__date {
      &:hover{
         color: black;
      }
   }

   &__heart {
      flex-basis: 200px;
      &:hover{
         color: black;
      }
   }

   &__share {
      &:hover{
         color: black;
      }
     
   }

   &_icon-wrapper_w-heart-share{
      width: 50px;
   }
}

.fa-calendar-alt {
   padding-right: 12px;
}

.blog-gallery-col2 {

   &__box {
      margin-top: 30px;
      @media screen and (min-width: 900px){
         &{
            margin-top: 50px;
         }
      }
      
   }

   &__box-video {
   }
}
.box-video {

   &__wrapper-video {
      margin-top: 30px;
      overflow:hidden;
      position:relative;
      padding-bottom:56.25%;
      padding-top:30px;
      height:0;      
   }

   &__iframe {
      position:absolute;
      width:100%;
      height:100%;
      left:0;
      top:0;      
   }
}
.blog-gallery-col3 {

   &__box-search {
      margin-top: 50px;
   }

   &__box-recent-posts {
      margin: 0 auto;
      margin-top: 30px;
      @media screen and (min-width: 900px){
         &{
            max-width: none;
            margin-top: 20px;
         }
      }
   }

   &__box-tag {
      margin: 0 auto;
      @media screen and (min-width: 900px){
         &{
            max-width: none;
         }
      }
   }

   &__box-instagram {
      margin-top: 20px;
   }
}
.box-search {
   position: relative;

   &__form {
   }

   &__search {
      font-family: $font_ro;
      font-weight: 600;
      color: #fafafa;
      width: 100%;
      font-size: 15px;
      font-style: italic;
      padding: 20px 15px;
      outline: none;
      border: none;
   }
   .fa-search{
      color: white;
   }

   &__submit {
      display: flex;
	   justify-content: center;
	   align-items: center;
	   color: #f0f0f0;
	   width: 40px;
	   height: 40px;
	   background-color: #999999;
      text-decoration: none;
      border-radius: 4px;
   }
   &__submit{
      position: absolute;
      top: 50%;
      left: 92%;
      transform: translate(-50%, -50%);
   }
   &__submit:hover{
      background-color: black;

   }
}
.box-recent-posts {
   background-color: white;
 

   &__title-recent-posts-tag-inst {
      margin-top: 0px;
      background-color: #ebebeb;
      color: black;
      font-family: $font_ro;
      letter-spacing: 5px;
      font-size: 18px;
      font-weight: 300;
      text-align: center;
      padding-top: 10px;
      padding-bottom: 10px;
      position: relative;
   }
   &__title-recent-posts-tag-inst:after{
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -20px;
      border: 10px solid transparent;
      border-top: 13px solid #ebebeb;

   }

   &__content-recent-posts {
      display: grid;
      grid-template-columns:  0.6fr 1fr 1fr;
      align-items: start;
      justify-items: start;
      grid-column-gap: 10px;
      padding-top: 20px;
      padding-left: 20px;
      padding-bottom: 20px;
   }
}
.content-recent-posts {

   &__wrap-img {
   }

   &__img {
      width: 91px;
      height: 67px;
      grid-row: 1/4;
      padding-top: 0px;
      display: block;
   }

   &__title {
      font-size: 14px;
      font-family: $font_ro;
      font-weight: 700;
      margin-top: 0px;
      grid-column: 2/4;
      width: 180px;
      @media screen and (min-width: 900px){
         &{
            font-size: 12px;
         }
      }
      @media screen and (min-width: 990px){
         &{
            font-size: 14px;
         }
      }
   }

   &__sub-title {
      color: #dddddd;
      font-family: $font_ro;
      font-weight: 300;
      font-size: 12px;
      align-self: center;
      grid-column: 2/4;
      margin-top: 5px;
      @media screen and (min-width: 990px){
         &{
            margin-top: 0px;
         }
      }

   }
}
.box-tag {
   margin-top: 20px;
   background-color: white;

    &__title-recent-posts-tag-inst {
      margin-top: 0px;
      background-color: #ebebeb;
      color: black;
      font-family: $font_ro;
      letter-spacing: 5px;
      font-size: 18px;
      font-weight: 300;
      text-align: center;
      padding-top: 10px;
      padding-bottom: 10px;
      position: relative;
   }
   &__title-recent-posts-tag-inst:after{
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -20px;
      border: 10px solid transparent;
      border-top: 13px solid #ebebeb;

   }

   &__tag-col1{
      display: flex;

   }
   &__tag-col2{
      margin-top: -13px;
      display: flex;

   }

   &__tag-col3{
      margin-top: -13px;
      display: flex;

   }

   &__wrapp-link {
      text-align: center;
      margin-left: 15px;
      @media screen and (min-width: 900px){
         &{
            margin-left: 5px;
         }
      }
      @media screen and (min-width: 1100px){
         &{
            margin-left: 10px;
         }
      }
     
   }
   
   &__link {
      font-size: 12px;
      padding: 5px 15px;
      border-radius: 3px;
      color: #b5b5b5;
      text-decoration: none;
      border: 1px solid #b5b5b5;
      font-family: $font_ro;
      @media screen and (min-width: 900px){
         &{
            font-size: 12px;
            padding: 5px 10px;
         }
      }
      @media screen and (min-width: 950px){
         &{
            font-size: 12px;
            padding: 5px 15px;
         }
      }
      
   }
 
   &__link:hover{
      background-color: black;
      color: white;
   }

   &__wrapper-tag{
      padding: 0px 15px;
      padding-bottom: 10px;
      @media screen and (min-width: 900px){
         &{
            padding: 0px 5px;
            padding-bottom: 10px;
         }
      }
      @media screen and (min-width: 1100px){
         &{
            padding: 0px 15px;
            padding-bottom: 10px;
         }
      }


   }

}
.box-instagram {
   background-color: white;
  
   &__wrapper-inst{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 10px;
      grid-row-gap: 10px;
      padding: 10px 20px;
      padding-bottom: 20px;
   }

   &__wrapper-img {
      
      object-fit: cover;
   }

   &__img {
      display: block;
      border: none;
      width: 100%;
      height: 100%;
      
   }
}


