   .background {

   &__portfolio {
   position: relative;
   min-height: 422px;
   background-color: #e2e2e2;
      
      &:before{
         position: absolute;
         content: "";
         background-image: url(../IMG/back_header-portfolio.jpg);;
         background-size: 60% 90%; 
         width: 60%;
         height: 90%;
         background-repeat: no-repeat; 
         display: none;
         top: 55%;
         left: 98%;
         transform: translate(-50%, -50%);

         @media screen and (min-width: 870px){
            &{
               display: block;
            }
         }
      }
   }

   &__container-portfolio {
      min-height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 auto;

      @media screen and (min-width: 800px){
         &{
            max-width: 1148px;
            align-items: start;
         }
      }
   }

   &__head-title {

      &_width_small{

         @media screen and (min-width: 600px){
            &{
               // width: 450px;
            }
         }
      }
   }
}


