$font_ro: 'Roboto', sans-serif;
$font_lato: 'Lato', sans-serif;


html {
   -webkit-box-sizing: border-box;
           box-sizing: border-box;
   /*overflow-x: hidden;*/
 }
 
 *, *:after, *:before {
   -webkit-box-sizing: inherit;
           box-sizing: inherit;
 }
.footer {
   position: relative;
  
   &__container {
      max-width: 500px;
      margin: 0 auto;

     
   }
}
.container {

   &__shelf-footer {
      display: flex;
      flex-direction: column;
      align-items: center;
   }
}
.shelf-footer {

   &__logo-f {
      padding-top: 50px;
      padding-bottom: 20px;
   }

   &__img-f {
      display: block;
      background-color: none;
   }
   &__icon-footer{
      cursor: pointer;
      display: flex;
      position: relative;
      padding: 50px;

      &:before{
         display: block;
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         content: "";
         height: 60%;
         color: black;
         min-width: 100vw;
         border-top: 2px solid #ebebeb;
         border-bottom: 2px solid #ebebeb;
      }
   }

   &__sub{
      text-transform: uppercase;
      font-family: $font_ro;
      text-align: center;
      color: #b8b8b8;

      span{
         color: black;
      }
   }
   i{
      padding-left: 40px;
   }
   &__link{
      text-decoration: none;
      color: black;
   }
   
}
 .fab{
 } 
.fab:hover{
   color: grey;
}
.icon-gplus:hover{
   color: grey;
}
.fas:hover{
   color: grey;
}
